// .theme-toggle-button-light,
.theme-toggle-button-dark {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  visibility: hidden;

  @media (max-width: 768px) {
    padding: 8px 16px;
    font-size: 14px;
  }
}
.sidebar-toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background: #007bff; /* Default background */
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: #0056b3; /* Darker blue on hover */
  }
}
